<div fxlayout="row">
    <div fxFlex="30"></div>
    <div fxFlex="70">
        <form [formGroup]="dynamicForm" #ngForm="ngForm">
            <ng-container *ngFor="let field of dynamicFormArray" [ngSwitch]="field.type">

                <mat-form-field appearance="fill" *ngSwitchCase="'textbox'">
                    <mat-label>{{field.label}}</mat-label>
                    <input matInput [formControlName]="field.formFieldName">
                </mat-form-field>

                <mat-form-field *ngSwitchCase="'date'">
                    <mat-label>{{field.label}}</mat-label>
                    <input matInput [matDatepicker]="picker" [formControlName]="field.formFieldName">
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <mat-form-field appearance="fill" *ngSwitchCase="'selectbox'">
                    <mat-label>{{field.label}}</mat-label>
                    <mat-select [formControlName]="field.formFieldName">
                        <mat-option *ngFor="let item of field.values" [value]="item.id">{{item.value}}</mat-option>
                    </mat-select>
                </mat-form-field>

            </ng-container>


            <div class="actions">
                <button mat-raised-button color="primary" (click)="submit(dynamicForm)">Submit</button>
            </div>
        </form>
    </div>
</div>